html {
    scroll-behavior: smooth;
}

.text {
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgba(128, 128, 128, 0.585);
}

/* jumbotron section */

.jumbotron {
  height: 250px;
  background-image: url("https://img.freepik.com/free-photo/soccer-players-action-professional-stadium_654080-1130.jpg?w=1380&t=st=1673475197~exp=1673475797~hmac=60b307600c1220b2a850f163c2e8db458dccba66b9138aa18f9a9de6a25cd323");
  background-repeat: no-repeat;
  background-position-x: center center;
  background-size: 100%;
  padding: 35px;
  width: auto;
}

/* brand and icon */

.jumbotron h1 {
  font-size: 25px;
}

.fa-brands {
    margin-right: 10px;
}

/* Navbar */

.customNav {
    width: 100%;
    height: 0.12px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    float: left;
}

.fa-bars {
    font-size: 28px;
    color: aliceblue;
    border: 1.3px solid rgb(207, 207, 207);
    padding: 4px 9px;
    border-radius: 4px;
}

/* Navbar text */

#navbarNav, .navbar-nav {
    float: right;
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-link {
    margin: 3px;
    padding: 4px;
    border-radius: 5px;
}

.navbar-collapse {
    text-align: center;
}

#navbarNav > .navbar-nav > .nav-item > .text {
    font-weight: 400;
}

/* Matches Button */

.btncontainer {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 75px;
}

#updateTeamBtn, #updatePostcodeBtn {
    margin: 0px 70px;
    width: 220px;
    height: 80px;
    border-radius: 10px;
    border: 0;
    background-color: #F2CB05;
    letter-spacing: 1.5px;
    font-size: 18px;
    transition: all .3s ease;
    box-shadow: #D97904 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
}


#updateTeamBtn:hover, #updatePostcodeBtn:hover, .game-btn:hover, .plan-btn:hover {
    box-shadow: #D97904 0px 7px 0px 0px;
   }

#updateTeamBtn:active, #updatePostcodeBtn:active, .game-btn:active, .plan-btn:active{
    background-color: #F2CB05;
    box-shadow: #D97904 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }

/* main content */

.container {
    width: 100%;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
}

.left {
    height: 100%;
}

.right {
    height: 100%;
}

.leftheading {
    background-color: #E92553;
}

.rightheading {
    background-color: #169EF2;
}

#heading {
    color: aliceblue;
    border-radius: 15px;
    height: 85px;
    margin-top: 10px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    height: auto;
    margin-top: 10px;
    padding:10px;
    /* overflow: scroll; */
}

/* journey section */
.journey {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    height: 365px;
    margin-top: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow-x: hidden;
}
/* Plan Journey button */
.plan-btn{
    margin: 0px 15px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    background-color: #F2CB05;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all .3s ease;
    box-shadow: #D97904 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

/* City Card */
.card-body {
    display: flex;
    flex-direction: row;
    background-color: rgba(240, 248, 255, 0.769);
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-body > div {
    width: 90%;
}

.card-title {
    border-bottom: 0.4px solid #3131314a;
}

.card-text {
    border-bottom: 0.4px solid #3131314a;
}

/* Map Section */
.displayMap {
    margin-top: 10px;
    background-color: #169EF2;
    border-radius: 15px;
    height: auto;
    width: 100%;
    overflow: scroll;
    margin-bottom: 30px;
}

#mapInputs{
    margin: 10px;
    background-color: rgba(240, 248, 255, 0.769);
    border-radius: 10px;
    padding: 10px;
}

.journey::-webkit-scrollbar {
    width: 12px;
}

.journey::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 100%;
}

.journey::-webkit-scrollbar-track-piece {
    background: transparent;
}

.journey::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid slategrey;
    border-radius: 15px;
}

.journey::-webkit-scrollbar-track {
    background-color: transparent
}

button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.adp{
    background-color: rgba(240, 248, 255, 0.769);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

#map {
    width: 600px;
    height: 720px;
  }

.gm-style {
    width: 90% !important;
}

.fixture {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border: 0;
    margin: 10px;
    padding:5px;
    border-radius: 15px;
}

.fixtureAway {
    background-color: #ffffff;
    padding: 15px;
}

.fixtureHome {
    background-color: #b6b6b6;
    padding: 15px;
}

.game-btn {
    background-color: #F2CB05;
    border-radius: 10px;
    border: 0;
    margin:auto;
    padding: 5px;
}
